{% extends 'project/base.html' %}

{% load i18n %}
{% load socialaccount %}
{% block body_block %}
<div class="col-lg-2">
		
</div>
<div class="col-lg-6">
		<h1>Login</h1>
		<hr>
<form  action="" method="POST">
		{% csrf_token %} 
		{% if form.errors %}
		    {% for field in form %}
		        {% for error in field.errors %}
		            <div class="alert alert-danger">
		                <strong>{{ error|escape }}</strong>
		            </div>
		        {% endfor %}
		    {% endfor %}
		    {% for error in form.non_field_errors %}
		        <div class="alert alert-danger">
		            <strong>{{ error|escape }}</strong>
		        </div>
		    {% endfor %}
		{% endif %}

		{% for field in form %}
		<div class="form-group">
		  <label for="id_{{ field.name }}">{{ field.label }}</label>
		       <input type="{{ field.name }}" class="form-control"
		        name="{{ field.name }}"
		        id="id_{{ field.name }}"
		        placeholder="{{ field.name }}" > 
		        <p class="help-text">{{ field.help_text }} </p>
		</div>
		{% endfor %}
  <input type="submit" class="btn btn-primary" value="{% trans 'Log in' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
<hr>	
<p>{% trans "Lupa Password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset Password" %}</a>!</p>
<p>{% trans "Belum punya akun?" %}? <a href="{% url 'registration_register' %}">{% trans "Daftar disini" %}</a>!</p>
</div>
<div class="col-lg-4">
	<br>
		<h4>atau kamu bisa login menggunakan</h4>
		<a href="{% provider_login_url "facebook" %}" class="btn btn-primary btn-block" role="button">Facebook</a>
		<a href="{% provider_login_url "google" %}" class="btn btn-danger btn-block" role="button">Google Account</a>
</div>

{% endblock %}
