{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block breadcrumb %}
<span class="nd_learning_current_breadcrumb">Register</span>
{% endblock breadcrumb %}
{% block body_block %}
  	<div class="col-lg-2">
		
	</div>

	<div class="col-lg-6">
		<h1>Buat Akun</h1>
		<hr>
		<form  action="" method="POST">{% csrf_token %}
		{{ form|crispy }}
  		<input type="submit" value="{% trans 'Submit' %}" class="btn btn-primary"/>
		</form>
		<hr>
		<p>Sudah punya akun? <a href="{% url 'auth_login' %}">Masuk</a></p>
	</div>
{% endblock %}
