{% extends 'project/base.html' %}
{% load i18n %}

{% block body_block %}
  	<div class="col-lg-2">
		
	</div>

	<div class="col-lg-6">
		<h1>Buat Akun</h1>
		<hr>
		<form  action="" method="POST">
		{% csrf_token %} 
		{% if form.errors %}
		    {% for field in form %}
		        {% for error in field.errors %}
		            <div class="alert alert-danger">
		                <strong>{{ error|escape }}</strong>
		            </div>
		        {% endfor %}
		    {% endfor %}
		    {% for error in form.non_field_errors %}
		        <div class="alert alert-danger">
		            <strong>{{ error|escape }}</strong>
		        </div>
		    {% endfor %}
		{% endif %}

		{% for field in form %}
		<div class="form-group">
		  <label for="id_{{ field.name }}">{{ field.label }}</label>
		       <input type="text" class="form-control"
		        name="{{ field.name }}"
		        id="id_{{ field.name }}"
		        > 
		</div>
		{% endfor %}
  		<input type="submit" value="{% trans 'Submit' %}" class="btn btn-primary"/>
		</form>
		<hr>
		<p>Sudah punya akun? <a href="{% url 'auth_login' %}">Masuk</a></p>
{% endblock %}
