body {
	font-family: 'Fjord One', serif;
}

.navbar-brand, .nav > li > a{
	padding: 15px 30px;
}

.brands {
	font-weight: bold;
}
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
}

