{% extends 'base.html' %}
{% block title %}{{ category_name }}{% endblock %}
{% load blog_extras %} 
{% block breadcrumb %}
<span class="nd_learning_current_breadcrumb"><a href="{% url 'index' %}">Blog </a></span><i class="fa fa-angle-right" aria-hidden="true"></i>
<span class="nd_learning_current_breadcrumb">{{ category_name }}</span>
{% endblock breadcrumb %}

{% block body_block %}

 
        <div class="dropdown vc_custom_1467214272039">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Category
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="{% url 'index' %}">All Category</a></li>
            {% block side_block %}
            {% get_category_list category %}
            {% endblock %}
          </ul>
        </div>

        {% if category %}
        <h1 class=" nd_options_first_font ">{{ category_name }}</h1>
        <hr>
            {% if posts %}
            <div class="post"> 
                {% for post in posts %}
                <h1><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr|truncatewords:30 }}</p>
                <div class="date">
                    <span class="glyphicon glyphicon-calendar"></span> {{ post.published_date|date:"M d, Y" }} <span class="glyphicon glyphicon-tags"></span><a href="{% url 'category'  category.slug %}"> {{ post.category }}</a>
                </div>
                <hr>
                {% endfor %}
            </div>
            {% else %}
                <strong>Tidak ada post pada kategori ini.</strong>
            {% endif %}
        {% else %}
            Kategori dengan nama {{ category_name }} tidak tersedia!
        {% endif %}

{% endblock %}