{% extends 'base.html' %}

{% load static %}
{% block title %}Kontak{% endblock %}

{% block breadcrumb %}
<span class="nd_learning_current_breadcrumb">Kontak</span>
{% endblock breadcrumb %}

{% block header %} 
	<div class="nd_options_section nd_options_background_size_cover nd_options_background_position_center" style="background-image:url({% static 'image/python.jpg' %});">

        <div class="nd_options_section nd_options_bg_greydark_alpha_gradient_2">

            <!--start nd_options_container-->
            <div class="nd_options_container nd_options_clearfix">


                <div class="nd_options_section nd_options_height_200"></div>

                <div class="nd_options_section nd_options_padding_15 nd_options_box_sizing_border_box">

                    <strong class="nd_options_color_white nd_options_font_size_60 nd_options_font_size_40_all_iphone nd_options_line_height_40_all_iphone nd_options_first_font">Kontak Kami</strong>
                    <div class="nd_options_section nd_options_height_20"></div>

                </div>

            </div>
            <!--end container-->

        </div>

    </div>
{% endblock header%}

{% block body_block %}
<div class="vc_row wpb_row vc_row-fluid vc_custom_1467214661838">
    <div class="wpb_column vc_column_container vc_col-sm-6">
        <div class="vc_column-inner vc_custom_1467214267244">
            <div class="wpb_wrapper">
                <h3 style="color:; text-align:; font-size:20px; line-height:20px; font-weight:bold;" class=" nd_options_first_font ">Tinggalkan Pesan Kepada Kami</h3>
                <div style="background-color:; height: 20px;" class="nicdark_section"></div>
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <p>Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat dignissim. Sed quis rutrum tellus, sit amet viverra felis. Cras sagittis sem sit amet urna feugiat rutrum. Nam nulla ipsum, venenatis malesuada felis quis, ultricies convallis neque. Pellentesque tristique fringilla tempus. Vivamus bibendum nibh in dolor pharetra, a euismod nulla dignissim.</p>

                    </div>
                </div>
                <div style="background-color:; height: 20px;" class="nicdark_section"></div>

                <style>
                    #nd_options_shortcode_cf7_206 input[type="text"],
                    #nd_options_shortcode_cf7_206 input[type="email"],
                    #nd_options_shortcode_cf7_206 input[type="url"],
                    #nd_options_shortcode_cf7_206 input[type="tel"],
                    #nd_options_shortcode_cf7_206 input[type="number"],
                    #nd_options_shortcode_cf7_206 input[type="date"],
                    #nd_options_shortcode_cf7_206 input[type="checkbox"],
                    #nd_options_shortcode_cf7_206 input[type="file"],
                    #nd_options_shortcode_cf7_206 textarea,
                    #nd_options_shortcode_cf7_206 label,
                    #nd_options_shortcode_cf7_206 select {
                        width: 100%;
                    }
                    
                    .nd_options_customizer_forms span.wpcf7-not-valid-tip,
                    .nd_options_customizer_forms .wpcf7-response-output.wpcf7-validation-errors,
                    .nd_options_customizer_forms .wpcf7-response-output.wpcf7-mail-sent-ok {
                        float: left;
                        width: 100%;
                        box-sizing: border-box;
                    }
                </style>



                <!--start form-->
                <div id="nd_options_shortcode_cf7_206" class="nd_options_section ">

                    <div class="nd_options_section nd_options_box_sizing_border_box">
                        <div role="form" class="wpcf7" id="wpcf7-f206-p45-o1" lang="en-US" dir="ltr">
                            <div class="screen-reader-response"></div>
                            <form action="/themes/education/wp/demo/e-learning-courses/contact/#wpcf7-f206-p45-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                <div style="display: none;">
                                    <input type="hidden" name="_wpcf7" value="206" />
                                    <input type="hidden" name="_wpcf7_version" value="4.5" />
                                    <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f206-p45-o1" />
                                    <input type="hidden" name="_wpnonce" value="a6e71791a7" />
                                </div>
                                <div class="nd_options_float_left nd_options_box_sizing_border_box nd_options_width_100_percentage_all_iphone_important nd_options_padding_0_right_important_all_iphone nd_options_padding_0_left_important_all_iphone " style="padding: 10px 0px; width:100%;"><span class="wpcf7-form-control-wrap name"><input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Nama" /></span></div>
                                <br />
                                <div class="nd_options_float_left nd_options_box_sizing_border_box nd_options_width_100_percentage_all_iphone_important nd_options_padding_0_right_important_all_iphone nd_options_padding_0_left_important_all_iphone " style="padding: 10px 0px; width:100%;"><span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email" /></span></div>
                                <br />
                                <div class="nd_options_float_left nd_options_box_sizing_border_box nd_options_width_100_percentage_all_iphone_important nd_options_padding_0_right_important_all_iphone nd_options_padding_0_left_important_all_iphone " style="padding: 10px 0px; width:100%;"><span class="wpcf7-form-control-wrap subject"><input type="text" name="subject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Subjek" /></span></div>
                                <br />
                                <div class="nd_options_float_left nd_options_box_sizing_border_box nd_options_width_100_percentage_all_iphone_important nd_options_padding_0_right_important_all_iphone nd_options_padding_0_left_important_all_iphone " style="padding: 10px 0px; width:100%;"><span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="5" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Pesan"></textarea></span></div>
                                <br />
                                <div class="nd_options_float_left nd_options_box_sizing_border_box nd_options_width_100_percentage_all_iphone_important nd_options_padding_0_right_important_all_iphone nd_options_padding_0_left_important_all_iphone " style="padding: 10px 0px; width:100%;">
                                    <input type="submit" value="Kirim" class="wpcf7-form-control wpcf7-submit" />
                                </div>
                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                            </form>
                        </div>
                    </div>

                </div>
                <!--end form-->

            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6">
        <div class="vc_column-inner vc_custom_1467214272039">
            <div class="wpb_wrapper">
                <div class="wpb_gmaps_widget wpb_content_element">
                    <div class="wpb_wrapper">
                        <div class="wpb_map_wraper">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6304.829986131271!2d-122.4746968033092!3d37.80374752160443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808586e6302615a1%3A0x86bd130251757c00!2sStorey+Ave%2C+San+Francisco%2C+CA+94129!5e0!3m2!1sen!2sus!4v1435826432051" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div style="background-color:; height: 20px;" class="nicdark_section"></div>
                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-6">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">


                                <div class="nd_options_section  nd_options_display_table ">
                                    <div class="nd_options_display_table_cell nd_options_vertical_align_middle nd_options_width_20_percentage nd_options_text_align_left nd_options_padding_10 nd_options_box_sizing_border_box">
                                        <h6 class=" nd_options_first_font nd_options_margin_0 nd_options_padding_0" style="color:#727475;">ALAMAT :</h6>
                                    </div>
                                    <div class="nd_options_display_table_cell nd_options_vertical_align_middle nd_options_width_50_percentage nd_options_text_align_right nd_options_padding_10 nd_options_box_sizing_border_box">
                                        <p class=" nd_options_second_font nd_options_margin_0 nd_options_padding_0" style="color:#a3a3a3;">Margonda Raya 234</p>
                                    </div>
                                </div>


                                <div style="background-color:#f1f1f1; height: 2px;" class="nicdark_section"></div>


                                <div class="nd_options_section  nd_options_display_table ">
                                    <div class="nd_options_display_table_cell nd_options_vertical_align_middle nd_options_width_20_percentage nd_options_text_align_left nd_options_padding_10 nd_options_box_sizing_border_box">
                                        <h6 class=" nd_options_first_font nd_options_margin_0 nd_options_padding_0" style="color:#727475;">KOTA :</h6>
                                    </div>
                                    <div class="nd_options_display_table_cell nd_options_vertical_align_middle nd_options_width_50_percentage nd_options_text_align_right nd_options_padding_10 nd_options_box_sizing_border_box">
                                        <p class=" nd_options_second_font nd_options_margin_0 nd_options_padding_0" style="color:#a3a3a3;">Jakarta - Indonesia</p>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-6">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">


                                <div class="nd_options_section  nd_options_display_table ">
                                    <div class="nd_options_display_table_cell nd_options_vertical_align_middle nd_options_width_20_percentage nd_options_text_align_left nd_options_padding_10 nd_options_box_sizing_border_box">
                                        <h6 class=" nd_options_first_font nd_options_margin_0 nd_options_padding_0" style="color:#727475;">TELEPON :</h6>
                                    </div>
                                    <div class="nd_options_display_table_cell nd_options_vertical_align_middle nd_options_width_50_percentage nd_options_text_align_right nd_options_padding_10 nd_options_box_sizing_border_box">
                                        <p class=" nd_options_second_font nd_options_margin_0 nd_options_padding_0" style="color:#a3a3a3;">00 837920234</p>
                                    </div>
                                </div>


                                <div style="background-color:#f1f1f1; height: 2px;" class="nicdark_section"></div>


                                <div class="nd_options_section  nd_options_display_table ">
                                    <div class="nd_options_display_table_cell nd_options_vertical_align_middle nd_options_width_20_percentage nd_options_text_align_left nd_options_padding_10 nd_options_box_sizing_border_box">
                                        <h6 class=" nd_options_first_font nd_options_margin_0 nd_options_padding_0" style="color:#727475;">EMAIL :</h6>
                                    </div>
                                    <div class="nd_options_display_table_cell nd_options_vertical_align_middle nd_options_width_50_percentage nd_options_text_align_right nd_options_padding_10 nd_options_box_sizing_border_box">
                                        <p class=" nd_options_second_font nd_options_margin_0 nd_options_padding_0" style="color:#a3a3a3;">be-py@gmail.com</p>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div style="background-color:; height: 30px;" class="nicdark_section"></div>
                <h3 style="color:#a3a3a3; text-align:; font-size:20px; line-height:20px; font-weight:bold;" class=" nd_options_first_font ">AVAILABLE AT 10AM – 8PM</h3>
                <div style="background-color:; height: 10px;" class="nicdark_section"></div>
                <h3 style="color:#727475; text-align:; font-size:60px; line-height:60px; font-weight:normal;" class=" nd_options_first_font ">+ 202 555 0116</h3>
            </div>
        </div>
    </div>
</div>
{% endblock body_block %}