{% extends 'base.html' %}
{% load blog_extras %} 
{% block title %}Step By Step{% endblock %}
{% block breadcrumb %}
<span class="nd_learning_current_breadcrumb">Step</span>
{% endblock breadcrumb %}

{% block body_block %}

<!--     <div class="page-header">
        <h1>Be-py Blog</h1>               
    </div>
 -->
    <div class="row">
        <div class="col-md-4">
            <h1>Step by step tutorial</h1>
            <p>disini kamu akan belajar blablabla</p>
        </div>
        <div class="col-md-6">
             <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Category
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="{% url 'index' %}">All Category</a></li>
                {% block side_block %}
                {% get_category_list category %}
                {% endblock %}
              </ul>
            </div>
            <form class="navbar-form navbar-left" method='GET' action=''>
                <div class="form-group">
                <input type="text" name ='q' class="form-control" placeholder="Search" value="">
                </div>
                <button type="submit" class="btn btn-default">Cari</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="post"> 
        {% for post in posts %}
        <h1><a href="{% url 'post_detail' post.slug  %}">{{ post.title }}</a></h1>
        <!-- <p>{{ post.text|linebreaksbr|truncatechars:200 }}</p> -->
        <div class="date text-muted">
            <span class="glyphicon glyphicon-calendar"></span> {{ post.published_date|date:"M d, Y" }} <span class="glyphicon glyphicon-tags"></span><a href="category/{% filter force_escape|lower %}{{ post.category }}{% endfilter %}">  {{ post.category }}</a>
        </div>
        <hr>
        {% endfor %}
    </div>
 
    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

{% endblock %}