{% extends 'base.html' %}

{% load static %}
{% block title %}Showcase{% endblock %}

{% block breadcrumb %}
<span class="nd_learning_current_breadcrumb"><a href="{% url 'showcase:student_list' %}">Showcase </a></span><i class="fa fa-angle-right" aria-hidden="true"></i>
<span class="nd_learning_current_breadcrumb">{{ projects.name }}</span>
{% endblock breadcrumb %}


{% block body_block %}

<div class="row">
	<div class="col-md-2">
        <img src="{{ projects.profile_image.url }}" alt="{{ projects.name }}" class="img-responsive">
    </div>
    <div class="col-md-6">
        <div class="post">
            <h1>{{ projects.name }}</h1>
        </div>
    </div>
</div>
<hr>
<h3>project yang diselesaikan : {{ project_lists.count }}</h3>
<hr>
    {% for project in project_lists %}
<div class="col-md-3">

    <div class="thumbnail">
        {% if project.image %}
         <a href='{% url "showcase:student_project_detail" projects.slug project.slug  %}'><img src='{{ project.image.url }}' class='img-responsive' /></a>
        {% endif %}
      <div class="caption">
        <h3><a href='{% url "showcase:student_project_detail" projects.slug project.slug  %}'>{{ project.title }}</a></h3>
      </div>
    </div>
</div>
    {% endfor %}
{% endblock body_block %}