{% extends 'base.html' %}

{% load static %}
{% block title %}{{ student_projects.title }} by {{ projects_student.name }}{% endblock %}

{% block breadcrumb %}
<span class="nd_learning_current_breadcrumb"><a href="{% url 'dashboard:user_dashboard' %}">Dashboard </a></span><i class="fa fa-angle-right" aria-hidden="true"></i>
<span class="nd_learning_current_breadcrumb"><a href="{% url 'dashboard:projects' %}">Projects </a></span><i class="fa fa-angle-right" aria-hidden="true"></i>
<span class="nd_learning_current_breadcrumb">{{ student_projects.title }}</span>
{% endblock breadcrumb %}


{% block body_block %}
<div class="col-md-6 col-md-offset-3">
	{% if student_projects.image %}
    <img src='{{ student_projects.image.url }}' class='img-responsive' />
    {% endif %}
	<h1 class="title-heading">{{ student_projects.title }}</h1>
	<hr>
	<p>{{ student_projects.description }}</p>
	<hr>
	<a href="{{ student_projects.url }}" target="popup" onclick="window.open('{{ student_projects.url }}','name','width=600,height=400')" class="btn btn-default">lihat</a>
	<a href="{% url 'dashboard:update_project' student_projects.slug %}" class="btn btn-info">edit</a>
	<!-- <a href="{% url 'dashboard:delete' student_projects.slug %}" class="btn btn-danger">hapus</a> -->

	<!-- Button trigger modal -->
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
	  hapus
	</button>

<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	        <h4 class="modal-title" id="myModalLabel">Hapus {{ student_projects.title }} ?</h4>
	      </div>
	      <div class="modal-body">
	        apakah anda benar-benar ingin menghapus {{ student_projects.title }} ?
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <a href="{% url 'dashboard:delete' student_projects.slug %}" class="btn btn-danger">hapus</a>
	      </div>
	    </div>
	  </div>
	</div>

</div>
{% endblock body_block %}