{% extends 'base.html' %}

{% load static %}
{% block title %}My Projects{% endblock %}

{% block breadcrumb %}
<span class="nd_learning_current_breadcrumb"><a href="{% url 'showcase:student_list' %}">My Projects </a></span>
{% endblock breadcrumb %}


{% block body_block %}

<div class="row">
    <div class="col-md-6">
        <div class="post">
            <h1>My Projects
            <a href="{% url 'dashboard:add_project' %}" class="btn btn-custom">add project</a></h1>
        </div>
    </div>
</div>
<hr>
<h3>project yang diselesaikan : {% if project_lists.count < 1 %} belum ada {% else %}{{ project_lists.count }}{% endif %}</h3>
<hr>
    {% for project in project_lists %}
<div class="col-md-3">

    <div class="thumbnail">
        {% if project.image %}
         <a href='{% url "showcase:student_project_detail" projects.slug project.slug  %}'><img src='{{ project.image.url }}' class='img-responsive' /></a>
        {% endif %}
      <div class="caption">
        <h3><a href='{% url "showcase:student_project_detail" projects.slug project.slug  %}'>{{ project.title }}</a></h3>
      </div>
    </div>
</div>
    {% endfor %}
{% endblock body_block %}