<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Be-py - {% block title %}We don't talk about php{% endblock %}</title>
    <link href="{% static 'css/bootstrap-fluid-adj.css'%} " rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fjord+One" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block head_extra %} {% endblock head_extra %}

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v2.7";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand brands" href="/">Be-Py</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'index' %}">Blog</a></li>
                <li><a href="/project">Project</a></li>
                {% if request.user.is_authenticated %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{request.user.username}} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/logout">Sign Out</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'about' %}">About Be-Py</a></li>
                  </ul>
                  {% else %}
                  <li><a href="{% url 'auth_login' %}">Sign In</a></li>
                  {% endif %}
              </ul>
        </div>
      </div>
    </div>


    <div class="container">
      {% block body_block %}
      {% endblock %}
    
    </div>


<footer id="footer">
    <div class="container">
        <p>&copy; Bepy 2016</p>
    </div>
</footer>


    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57b0a2066b8e9682"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function(){
        var contentInput = $("#id_content");
        function setContent(value){
            var markedContent = marked(value)
            $("#preview-content").html(markedContent)
            $("#preview-content img").each(function(){
                $(this).addClass("img-responsive")
            })
        }
        setContent(contentInput.val())
        contentInput.keyup(function(){
            var newContent = $(this).val()
            setContent(newContent)
        })
        var titleInput = $("#id_title");
        
        function setTitle(value) {
            $("#preview-title").text(value)
        }
        setTitle(titleInput.val())
        titleInput.keyup(function(){
            var newContent = $(this).val()
            setTitle(newContent)
        })

        // preview-title
        // preview-content
    })
    </script>




  </body>
</html>