{% extends 'project/base.html' %}

{% load staticfiles %}

{% block title %}{% if post.title %}{{ post.title }}{% endif %}{% endblock %}

{% block body_block %} 
<div class="row">
    <div class="col-md-6">
        <div class="post">
            {% if post.published_date %}
                <div class="date">
                    {{ post.published_date }}
                </div>
            {% endif %}
            <h1>{{ post.title }}</h1>
            <p>{{ post.description|linebreaksbr }}</p>
        </div>
    </div>
    <div class="col-md-6">
        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-responsive">
    </div>
</div>
<hr>
<div class="col-md-6">
    {% for lesson in lesson_list %}
    <div class=" panel panel-default">
      <div class="panel-body">
        <a href="{% url 'lesson_detail' lesson.slug  %}">{{ lesson.name }}</a>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}