{% extends 'project/base.html' %}

{% load staticfiles %}

{% block body_block %}

<h1>Stuff you can learn</h1>
<hr>
<div class="row">
  {% for post in posts %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{ post.image.url }}" alt="...">
      <div class="caption">
        <h3>{{ post.title }}</h3>
        <p>{{ post.description|linebreaksbr|truncatechars:100 }}</p>
        <p><a href="{% url 'page_detail' post.slug  %}" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock %}