{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block breadcrumb %}
<span class="nd_learning_current_breadcrumb">Project</span>
{% endblock breadcrumb %}

{% block body_block %}

<div class="row">
    <div class="col-md-6">
        <h1><a href="{% url 'page_list' %}">Video tutorial</a></h1>
        <p>disini kamu akan belajar blablabla</p>
    </div>
    <div class="col-md-6">
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        <h1><a href="{% url 'index' %}">Step by Step tutorial</a></h1>
        <p>disini kamu akan belajar blablabla</p>
    </div>
    <div class="col-md-6">
    </div>
</div>
{% endblock %}